/* LoginForm.css */
body{
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
  /* background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    /* background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%); */
  }
  
  .login-frame {
    background: radial-gradient(circle at center bottom, #f2f2f2 5%,transparent 6%, transparent 19%, #f2f2f2 20%, #f2f2f2 25%, transparent 26%, transparent 39%, #f2f2f2 40%, #f2f2f2 45%, transparent 46%), radial-gradient(circle at center top, #f2f2f2 5%,transparent 6%, transparent 19%, #f2f2f2 20%, #f2f2f2 25%, transparent 26%,transparent 39%, #f2f2f2 40%, #f2f2f2 45%, transparent 46%), radial-gradient(circle at left,#f2f2f2 5%, transparent 6%), radial-gradient(circle at right,#f2f2f2 5%, transparent 6%);
    background-size: 3em 3em;
    background-color: #ffffff;
    opacity: 1;
    display: flex;
    width: 180%;
    height: 600px;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .left-side {
    flex: 1;
    padding: 20px;
    background-image: url('Karnataka-state-police logo.png');
    background-size: cover;
  }
  
  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  
  .logo {
    width: 280px; /* Adjust logo size as needed */
    margin-bottom: 20px;
    align-self: center;
    margin-top: -50px
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  